{
  "presets": ["react-native"],
  "plugins": [
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "components": "./components",
        "styles": "./styles",
        "images": "./assets/images",
        "views": "./views",
        "config": "./config",
      }
    }]
  ]
}
